/* line 1, ../sass/768.scss */
.header {
  height: 90px;
}
/* line 3, ../sass/768.scss */
.header .logo {
  margin-top: 15px;
}
/* line 6, ../sass/768.scss */
.header .tel {
  padding-top: 45px;
}
/* line 9, ../sass/768.scss */
.header .tel {
  margin-left: 70px;
}
/* line 12, ../sass/768.scss */
.header nav {
  padding-top: 28px;
  margin-left: 60px;
}
