.header {
	width: 100%;
	position:fixed;
	top:0;
	left:0;
	z-index: 10;
	background: #fff;
	&:before {
		content:"";
		width:100%;
		height:34px;
		background:url(../img/shadow.png) repeat-x;
		top:90px;
		left:0;
		z-index: 10;
		position: fixed;
	}
	.inn {
		position:relative;
		width:980px;
		margin:0 auto;
	}
	.logo {
		float:left;
		margin-top:5px;
	}
	.tel {
		font-weight:900;
		font-size:28px;
		float:left;
		margin-left:20px;
		.icons-phone {
			position: relative;
			top:5px;
			left:-5px;
		}
	}
	nav {
		font-size:15px;
		line-height: 15px;
		text-transform: uppercase;
		float:left;
		margin-left:20px;
		@extend .cf;
		a {
			display: block;
			float:left;
			padding:15px 10px;
			margin-left:5px;
			text-decoration: none;
			color:#444;
			&:hover, &.active {
				background: #1bbc9b;
			}
		}
	}
}