body {
	font-family: "Lato", Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color:#444;
	padding-top:100px;
}

.body {
	margin:0 auto;
	max-width: 980px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #444;
  line-height: 1;
}

.action {
	background: #ecf0f1;
	padding:10px 20px;
	h2 {
		text-transform: uppercase;
		font-size:38px;
		line-height: 1;
		text-align: center;
		font-weight: 700;
		margin:0 0 15px;
	}

}
.time-left {
	@extend .cf;
	width:370px;
	margin:0 auto 10px;
	> div {
		float:left;
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
	}
	.item {
		width:40px;
		height:50px;
		display:inline-block;
		font-weight: 700;
		text-align:center;
		line-height: 50px;
		border-radius: 8px;
		background: #ef3939;
		color:#fff;
		position:relative;
		font-size: 38px;
		&:after {
			content:"";
			background: url(../img/number-effect.png);
			width: 38px;
			height:19px;
			position: absolute;
			top:18px;
			left:1px;
			z-index: 1;
		}
	}
	.text {
		display: block;
		text-transform: uppercase;
		margin-top:7px;
		font-size:14px;
		text-align: center;
	}
}
h3.heading-green-bg {
	padding:10px 20px 10px;
	background: #16a086;
	color:#fff;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}
.why-we {
	padding-top:10px;
	@extend .cf;
	ul {
		float:left;
		width:50%;
		padding-left:10%;
		li {
			margin-bottom:30px;
		}
		a {
			position: relative;
			padding-left:80px;
			font-size: 18px;
			color:#16a086;
			font-style:italic;
			text-decoration: none;
			position:relative;
			.icon {
				position:absolute;
				left:0;
				bottom:0;
			}
			&:hover {
				.tooltip-popup {
					display: block;
				}
			}
		}
	}
	.tooltip-popup {
		padding:10px;
		background: #fff;
		border:4px solid #16a086;
		border-radius: 20px;
		font-style: italic;
		box-shadow:8px 5px 8px rgba(0,0,0,.75);
		width:290px;
		display: block;
		position:absolute;
		bottom:80px;
		color:#444;
		font-size:14px;
		display: none;
		left:0;
		z-index: 2;
		&:after {
			content:"";
			width:73px;
			height:66px;
			background: url(../img/corner.png) no-repeat;
			position:absolute;
			bottom:-65px;
			left:10px;
			z-index: 2;
		}
	}
}
.gen-plan {
	h3 {
		background:url(../img/border.png) no-repeat;
		padding-top:5px;
		color:#16a086;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 700;
		padding-left:40px;
	}
}
.map-container {
	background:url(../img/border.png) 0 100% no-repeat;
	padding-bottom:2px;
	h3 {
		margin:0;
	}
}
.red-bg-heading {
	background: #f96668;
	padding:5px 20px 5px 20px;
	color:#fff;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 30px;
	margin:0 0 20px;
}
.hot-proposition {
	padding:10px;
	.side {
		float:left;
		width:50%;
		padding:0 10px;
	}
	.picture-preview {
		float:left;
		margin-bottom:15px;
		margin-right: 20px;
		&:hover {
			box-shadow:0 0 2px 1px #1bbc9b;
		}
		img {
			display:block;
			max-width: 185px;
			width:100%;
		}
	}
	.discribe {
		margin:0 0 10px;
		span {
			margin-right:10px;
			color:#16a086;
			font-weight: 700;
		}
	}
	.price {
		span {
			padding:10px 20px;
			color:#fff;
			font-weight: 700;
			background: #1bbc9b;
			float:right;
		}
	}
}

.top-big-picture {
	position:relative;
	background:url(../img/border.png) no-repeat 0 0;
	background: url(../img/slide1.jpg) no-repeat 50% 0;
	.inn {
		width:980px;
		margin:0 auto;
		height:450px;
	}
	.apply {
		float:right;
		width:350px;
		box-shadow:0 0 5px rgba(0,0,0, .5);
		margin-top:15px;
		background: rgba(255,255,255, .9);
		padding:15px 0;
		@include transition(.3s);
		&:hover {
			background: rgba(255,255,255, 1);
		}
		.heading {
			padding:0 30px 20px;
			border-bottom:1px solid #d1d3d1;
			margin-bottom:20px;
			font-size: 24px;
			text-transform: uppercase;
		}
		.container {
			padding:0 30px;
		}
		.field {
			margin:0 0 10px;
			position:relative;
			&:after {
				content:"";
				width:21px;
				height:22px;
				top:22px;
				right:10px;
				position:absolute;
				z-index: 2;
				@include icons-sprite(good);
			}
			&.error {
				&:after {
					@include icons-sprite(error);
				}
				input {
					color:#f96668;
					border-color:#f96668;
					box-shadow:0 0 1px #f96668;
				}

			}
			.required-field {
				font-size:8px;
				line-height: 10px;
				display:block;
				color:#8d8d8d;
				margin-bottom: 3px;
			}
			input {
				background: #f4f4f4;
				border-radius: 3px;
				display:block;
				width:100%;
				height:40px;
				padding:10px 40px 10px 20px;
				color:#8d8d8d;
				border:1px solid #1c1f19;
				box-shadow:0 0 1px #1c1f19;
				font-size:14px;
				line-height:20px;
				position:relative;
				&:focus {
					outline: none;
				}
			}


		}
		.submit-btn {
			text-align: center;
			margin:20px 0 20px;
			button, input {
				display:inline-blcok;
				cursor: pointer;
				color:#ffffff;
				border:none;
				background: #f96668;
				font-weight: 700;
				padding:8px 20px 12px;
				box-shadow:0 -5px 0 rgba(0,0,0, .1) inset;
				outline:none;
				&:hover {
					background: #F84A4C;
				}
				&:active {
					box-shadow:0 0 0 5px rgba(0,0,0, .1) inset;
				}
			}
		}
		.bottom-text {
			font-size:10px;
			line-height: 14px;
			color:#8d8d8d;
		}
	}
}
.tooltip-popup {

}


figure, figcaption {
	display: block;
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}
#countdown {
	height:80px;
}
.timeTo {
	font-size: 28px;
	line-height: 108%;
	font-weight: bold;
	width: 440px;
	margin: 0 auto;
}

.timeTo span {
	vertical-align: top;
	text-indent: -999em;
	font-size: 0;
	width: 20px;
	display: inline-block;
}

.timeTo div {
	color: white;
	position:relative;
    background: #ef3939;
    border-radius: 10px;
	margin-left:1px;
    line-height:50px;
	font-size: 35px;
	position: relative;
	display: inline-block;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	overflow: hidden;
}
.timeTo div:after {
	content:"";
	width:38px;
	height:19px;
	background: url(../img/number-effect.png) no-repeat;
	position:absolute;
	top:50%;
	margin-top:-10px;
	margin-left:-19px;
	left:50%;
}

.timeTo figure {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.timeTo figcaption {
	text-align: center;
	/*font-size: 12px;*/
	line-height: 80%;
	font-weight: normal;
	color: #333;
}

.timeTo div.first {
	border-left: 1px solid silver;
}

.timeTo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 3px;
}

.timeTo ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 36px;
	position: relative;
	top: 1px;
	left: 4px;
}
#genplan, #leave-msg {
	margin-top:-100px;
	display: block;
}